<!-- <h2>
  Контакты
</h2> -->
<div class="contacts-wrap">
	<div class="contacts-bg">
		<div class="contacts-list">
			<div class="contacts-name">Хирург-аритмолог<br>Пророк Сергей Юриевич</div>
			<div class="contacts-item">
				<i class="fa fa-phone" aria-hidden="true"></i>
				<span class="contacts-text">Телефон: +380638184015</span>
			</div>
			<div class="contacts-item">
				<i class="fa fa-volume-control-phone" aria-hidden="true"></i>
				<span class="contacts-text">Viber: +380638184015</span>
			</div>
			<div class="contacts-item">
				<i class="fa fa-envelope-o" aria-hidden="true"></i>
				<span class="contacts-text">Email: dr.proefi@gmail.com</span>
			</div>
			<div class="contacts-item">
				<i class="fa fa-skype" aria-hidden="true"></i>
				<span class="contacts-text">Skype: dr.prorok.s.y@gmail.com</span>
			</div>
		</div>
	</div>
</div>