$navbar-default-bg: #312312;
$light-orange: #ff8c00;
$navbar-default-color: $light-orange;

@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular.ttf");
}

@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold.ttf");
}

#logo {
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#index_page {
  display:block;
  max-width: 600px;
  border-right: 1px solid #000;
  margin: 0 auto;
}

#logo:hover {
  color: white;
  text-decoration: none;
}

.nav_item {
  margin-left: 25px;
  float: left;
  margin-top: 20px;
}

.center {
  text-align: center;
}

h1, h2, h3, h4 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

.left {
  text-align: left;
  letter-spacing: .5px;
}

input, textarea, select, .unedetable-input {
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
}

// input {
//   height: auto !important;
// }

table {
  display: table;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.search_form {
  text-align: center;
  width: 35%;
  margin-bottom: 10px;
  margin-right: 40px;
  float: right;
}

.new_and_edit_object_form {
  width: 50%;
  display: table;
  margin: 0 auto;
}

.buttons_padding {
  padding-left: 10px;
}

.objects_table {
  width: 95%;
  display: table;
  margin: 0 auto;
}


// новые стили

body {
  position: relative;
  padding-top: 50px;
  background: #fff !important;
  border-left: 15px solid #fff;
  border-right: 15px solid #fff;
}

// #notice {
//   display: none
// }

tbody a:hover {
  background: none;
}

.wrapper {
  margin-top: -10px;
  margin-bottom: -10px;
  min-height: calc(100vh - 100px);
  padding-top: 0.1px;
}

.nav-bg{
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
  &.open {
    display: block;
  }
}

.header{
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  // max-width: 100%;
  width: calc(100% - 30px);
  min-height: 51px;
  margin: 0 15px;
  padding: 0 20px;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  background: #4286f4;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 3px 5px 0 rgba(66, 134, 244, .7);
  z-index: 10;
}

.logo {
    padding-right: 30px;
    font: 26px RobotoBold, sans-serif;
    font-weight: bold;
    color: #fff;
  }

.main-menu {
  display: flex;
  margin-bottom: 0;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: #4286f4;

  
  li{
    display: block;
  }
  a {
    display: block;
    padding: 15px 30px;
    font: 18px RobotoRegular, sans-serif;
    color: #fff;
    transition: .3s;
    &.active {
      background: #236be0;
      box-shadow: 0 3px 7px 0 rgba(35, 107, 224, .9);
    }
    &:hover{
      background: #236be0;
      box-shadow: 0 3px 7px 0 rgba(35, 107, 224, .9);
      text-decoration: none;
    }
    &:visited{
      color: #fff;
      
    }
  }
}

.mobile-menu {
  display: none;
  width: 24px;
  height: 22px;
  background: url('/assets/menu.png') no-repeat center;
  cursor: pointer;
  &.open {
    background: url('/assets/navClose.png') no-repeat center;
  }
}

.dropdown-toggle:hover {
  color: #fff;
}

.dropdown-menu {
  a {
    color: #000;
    &:visited {
      color: #000
    }
  }
}

.section1 {
  max-width: 1440px;
  margin: 0 auto 0;
  text-align: center;
  background: url('/assets/bg-sec1.jpg') no-repeat center right;
}

.caption1 {
  margin: 40px auto 30px;
  padding: 0 30px;
  font: 28px RobotoBold, sans-serif;


}

h1, h2 {
  font: 28px RobotoBold, sans-serif !important;

}

.profile-wrap {
  padding: 70px 15px 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background: rgba(66, 134, 244, .7);
  border-radius: 10px;
}

.profile {
  max-width: 400px;
  width: 100%;
  max-height: 400px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0 rgba(66, 134, 244, .7);
  overflow: hidden;
  img{
    max-width: 100%;
  }
}

.description{
  max-width: 700px;
  margin: 5px auto;
  padding: 15px;
  font:  26px RobotoRegular, sans-serif;
  font-weight: 300;
  line-height: 30px;
  background: rgba(66, 134, 244, .3);
  border-radius: 5px;
  box-shadow: 0 0 5px 2px rgba(66, 134, 244, .7);
  color: #fff;

}

.buttons{
  display: flex;
  margin: 15px auto 0;
  padding: 0 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.btn1 {
  display: block;
  margin: 15px;
  padding: 10px 15px;
  background: #10ad0d;
  box-shadow: 1.5px 3px 5px 0 rgba(16, 173, 13, .7);
  border-radius: 5px;
  font: 18px RobotoBold, sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  transition: .3s;
  &:visited{
    color: #fff;
  }
  &:hover{
    background: #0c9b09;
    box-shadow: 1.5px 3px 10px 0 rgba(16, 173, 13, .9);
    text-decoration: none;
  }
}

.empty{
  display: none;
}

.footer {
  // position: absolute !important;
  // top: auto;
  // bottom: 0;
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;
  background-size: cover;
  text-align: center;
  color: #fff;
  background-color: #4286f4;
  border-radius: 10px 10px 0 0;
  .footer_text{
    font: 20px RobotoRegular, sans-serif;
    margin-bottom: 0;
  }
}

.slider {
  max-width: 700px;
  margin: 50px auto;
  padding: 0 35px;
  overflow: hidden;
  .slid {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img{
    // max-width: 100%;
    // max-height: 100%;
  }
  .owl-prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    width: 31px;
    height: 63px;
    background: url('/assets/a2.png') no-repeat center;
    cursor: pointer;
    z-index: 9;
  }
  .owl-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    width: 31px;
    height: 63px;
    background: url('/assets/a1.png') no-repeat center;
    cursor: pointer;
    z-index: 9;
  }
}

//формы связи

// .wrapper h1 {
//   font-weight: 300;
// }

.new_and_edit_object_form {
  max-width: 500px;
  width: 100%;
  margin: 30px auto 50px;
  padding: 30px;
  border: 3px solid #4286f4;
  box-shadow: 1.5px 3px 5px 0 rgba(66, 134, 244, .7);
  border-radius: 5px;
  background: rgba(66, 134, 244, .2);
  label {
    text-transform: uppercase;
    font: 18px RobotoRegular, sans-serif;
    font-weight: normal;
  }
  .input {
    margin-bottom: 15px;
  }
  input, select, textarea {
    padding: 10px;
    background: #fff;
    border: 1px solid rgba(66, 134, 244, .9);
    outline: none;
    font: 16px RobotoRegular, sans-serif;
    transition: .3s;
    &:focus {
      border: 1px solid #236be0;
      box-shadow: 1.5px 3px 5px 0 rgba(66, 134, 244, .7);
      outline: none;
    }
  }
}

input[type="submit"] {
  // word-break: break-all;
  white-space: normal;
  max-width: 100%;
  width: 100%;
  display: block;
  margin: 15px auto;
  padding: 10px 15px;
  background: #10ad0d;
  box-shadow: 1.5px 3px 5px 0 rgba(16, 173, 13, .7);
  border: none;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  font: 20px RobotoBold, sans-serif;
  font-weight: bold;
  text-align: center;
  transition: .3s;
  &:visited{
    color: #fff;
  }
  &:hover{
    background: #0c9b09;
    box-shadow: 1.5px 3px 10px 0 rgba(16, 173, 13, .9);
    text-decoration: none;
    color: #fff;
  }
}

// контакты

.contacts-wrap {
  background: url('/assets/bg1.jpg') no-repeat center;
  background-size: cover;
}

.contacts-bg {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 100px);
  padding: 15px;
  align-items: center;
  background: rgba(66, 134, 244, .7);
  text-align: center;
}

.contacts-list {
  display: inline-block;
  margin: 30px auto;
  padding: 15px;
  background: rgba(66, 134, 244, .3);
  border-radius: 5px;
  box-shadow: 0 0 5px 2px rgba(66, 134, 244, .7);
  color: #fff;
}

.contacts-name {
  font: 24px RobotoBold, sans-serif;
  text-align: center;
  margin-bottom: 15px;
}

.contacts-item {
  font: 18px RobotoRegular, sans-serif;
  text-align: left;
  margin-top: 10px;
  i {
    margin-right: 5px;
    font-size: 22px;
  }
}

// faq

.faq-wrap {
  background: url('/assets/bg-faq.jpg') no-repeat center;
  background-size: cover;
}

.faq-bg {
  width: 100%;
  min-height: calc(100vh - 100px);
  padding: 15px;
  background: rgba(66, 134, 244, .7);
}

.faq-list {
  display: block;
  max-width: 900px;
  margin: 70px auto 0;
  color: #fff;
}

.faq-item {
  margin-bottom: 30px;
  background: rgba(66, 134, 244, .3);
  border-radius: 5px;
  box-shadow: 0 0 5px 2px rgba(66, 134, 244, .7);
}

.faq-question {
  margin-bottom: 10px;
  padding: 15px;
  background: rgba(66, 134, 244, .3);
  background: linear-gradient(to top, rgba(66, 134, 244, .2) 0%, rgba(66, 134, 244, .9) 100%);
  border-radius: 5px 5px 0 0;
  font: 24px RobotoRegular, sans-serif;
}

.faq-answers {
  padding: 0 15px 15px;
  font: 20px RobotoRegular, sans-serif;
}


// медиа

@media only screen and (max-width : 992px) {
  .header {
    justify-content: space-between;
  }
  .main-menu {
    position: absolute;
    top: 37px;
    right: -300px;
    justify-content: center;
    max-width: 250px;
    border-radius: 0 0 5px 5px;
    transition: .5s;
    &.open {
      right: 0;
    }
    a {
      width: 150px;
      text-align: center;
      border-top: 1px solid #fff;

    }
    li:first-child a{
        border: none;
      }
  }
  .mobile-menu {
    display: block;
  }

  .dropdown .dropdown-menu {
    position: fixed;
    top: 50px;
    right: 160px;
  }
}

@media only screen and (max-width : 768px) {

  body{
    border-left: none;
    border-right: none;
    // -moz-hyphens: auto;
    // -webkit-hyphens: auto;
    // -ms-hyphens: auto;
  }

  .header {
    width: 100%;
    margin: 0;
  }

  .description{
    font-size: 20px;
    line-height: 24px;
  }
  .btn1 {
    font-size: 16px;
  }

  .tb-hidden {
    display: none;
  }
}


@media only screen and (max-width : 375px) {
  .new_and_edit_object_form {
    padding: 30px 10px;
  }
}